.venv
__pycache__/
*.py[cod]
*$py.class
venv
.eggs
.pytest_cache
*.egg-info
.DS_Store
build/
dist/
.vscode
.mbtiles
.ipynb_checkpoints

scratch/

tests/data/zip
tests/data/shp
tests/data/*.csv
tests/data/*.profile

*.mbtiles
*.*-journal
